{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<!-- Main Section -->
<header class="container text-center py-5">
    <h1>Welcome to My Blog!</h1>
    <p class="lead">Here I share my thoughts, stories, and experiences.</p>
</header>

<!-- Blog Posts -->
<div class="container">
    <h2 class="mb-4">Most commented posts</h2>
    {% for posta in most_commented_posts %}
    <a href="{{ posta.get_absolute_url }}">
        <div class="post-preview">
            <h3>{{ posta.title }}</h3>
            <h5>tags: 
                {% for tag in posta.tags.all %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h5>
        </div>
    </a>
{% endfor %}


    <h2 class="mb-4">Latest Posts</h2>
    <h3>I have {% total_posts %} posts</h3>
    {% for post in posts %}
    <a href="{{ post.get_absolute_url }}">
        <div class="post-preview">
            <h3>{{ post.title }}</h3>
            <h5>tags: <a href="{{ post.get_tag_url }}">{{ post.tags.all|join:", " }}</a></h5>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock main %}
