<section class="comments-section mt-5">
    {% with comments.count as total_comment %}
    <h2>{{ total_comment }} comment{{ total_comment|pluralize }}</h2>
    {% endwith %}
    <div class="existing-comments">
        <!-- Display each comment -->
        {% for comment in comments %}
        <div class="comment">
            <p><strong>{{ comment.user }}:</strong> {{ comment.body }}</p>
            <p class="comment-date">{{ comment.created|date:"F j, Y" }}</p>
        </div>
        {% empty %}
        <p>No comments yet. Be the first to comment!</p>
        {% endfor %}
    </div>

    <!-- Comment Form -->
    {% include 'components/_comment.html' %}

</section>
