{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="container">
    <h1>Отправка письма</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Имя:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_email">Ваш Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_to">Кому:</label>
            {{ form.to }}
        </div>
        <div class="form-group">
            <label for="id_comments">Комментарии:</label>
            {{ form.comments }}
        </div>
        <button type="submit">Отправить</button>
    </form>
</div>
{% endblock main %}
